@import url(../../../Styles/main.css);
@import url(../../../Styles/fonts.css);

:root{
	/*webpage colors*/
	--base: #000;
	--base-dark: #222;
	
	/*header colors*/
	--background-image: url("Images/fullmoon1.png")center top/cover no-repeat fixed;
	--header-main: rgba(255,255,255,0.5);
	--navigation-bar: rgba(255,255,255,0.7);
	--buttons-border: #808080;
	
	/*text colors*/
	--text-header: #000;
	--text-base: #FFF;
	--text-main: #00F;
	--text-contrast-dark: #C5C5C5;
	--text-contrast: #00F;
}

section a{
	text-decoration: underline;
}