@import url(main.css);
@import url(fonts.css);

:root{
	/*webpage colors*/
	--base: #171717;
	--base-dark: #272727;
	--main: #40b5b5;
	--contrast: #dd44b5;
	--contrast-dark: #a5388a;
	
	/*header colors*/
	--background-image: url("Images/fullmoon1.png")center top/cover no-repeat fixed;
	--header-main: rgba(64,181,181,0.4);
	--navigation-bar: rgba(39,39,39,1);
	--buttons-border: #1f4d4d;
	
	/*text colors*/
	--text-header: #FFF;
	--text-base: #FFF;
	--text-base-dark: #676767;
	--text-main: #40b5b5;
	--text-contrast: #dd44b5;
	--text-contrast-dark: #a5388a;
}
