@import url(main.css);
@import url(fonts.css);

:root{
	/*webpage colors*/
	--base: #879bdf;
	--base-dark: #8455a2;
	--main: #fe01ae;
	--contrast: #ffea00;
	--contrast-dark: #ffea00;
	
	/*header colors*/
	--background-image: url("Images/fullmoon1.png")center top/cover no-repeat fixed;
	--header-main: rgba(254,1,174,0.5);
	--navigation-bar: rgba(149,38,134,0.7);
	--buttons-border: #245f5f;
	
	/*text colors*/
	--text-header: #FFF;
	--text-base: #FFF;
	--text-main: #fe01ae;
	--text-contrast: #ffea00;
	--text-contrast-dark: #af2091;
}
