/* Fonts que corren desde la pagina, no necesitan que el usuario las tenga instaladas */
@font-face
{
  font-family: "Title";
  src: url("Fonts/TeXGyre Adventor.ttf");
}
      
@font-face
{
  font-family: "Body";
  src: url("Fonts/RegencieLight.ttf");
}