@import url(main.css);
@import url(fonts.css);

:root{
	/*webpage colors*/
	--base: #FFF;
	--base-dark: #7F7F7F;
	--main: #77a756;
	--contrast: #2f4363;
	--contrast-dark: #222d3f;
	
	/*header colors*/
	--background-image: url("Images/fullmoon1.png")center top/cover no-repeat fixed;
	--header-main: rgba(79,140,108,1);
	--navigation-bar: rgba(51,89,65,1);
	--buttons-border: #4f8c6c;
	
	/*text colors*/
	--text-header: #FFF;
	--text-base: #121212;
	--text-main: #77a756;
	--text-contrast: #2f4363;
	--text-contrast-dark: #222d3f;
}
