/*Tag specific*/
body{
	background: var(--base);
	color: var(--text-base);
	font-family: "Body";
	margin: 0;
}

header{
	background: var(--background-image);
	font-size: 185%;
	text-align: center;
	
}
	header div{
		padding: 4% 0px 4% 0px;
		margin: 0;
		top: 0;
		bottom: 0;
	}
	
nav{
	background: var(--background-image);
	top: 0;
	position: sticky;
	margin-bottom: 4%;
	white-space: nowrap;
	overflow: auto;
}
	nav div{
		margin: 0;
	}
	nav a{
		color: var(--text-header);
		border-right: solid var(--buttons-border) 2px;
		padding: 10px 15px 8px 15px;
		margin: 0px 0px 8px 0px;
		display: inline-block;
		text-decoration: none !important; 
	}
		nav a:hover{
			background: var(--buttons-border);
		}
		nav a:visited{
			color: var(--text-header);
		}
		
section{
	color: var(--text-base);
	margin:20px 30px;
}

article{		
	margin-left: 1.65%;
}
	article p, article h3, article h4{
		text-align: justify;
	}

img{
	margin: 20px auto;
	display: inherit;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 34px;
}

hr{
	background: var(--base-dark); 
	border: none;
	height: 2px;
	width: 87%;
	margin: 5% auto;
}

footer{
	margin: 40px 30px 10px 30px;
}

/*Background colors*/
	.bg-transparent-main{
		background: var(--header-main);
	}
	
	.bg-transparent-dark{
		background: var(--navigation-bar);
	}
	
	.bg-base-dark{
		background: var(--base-dark);
	}
/*Font colors*/
	.header-color{
		color: var(--text-header);
	}
	
	.text-color{
		color: var(--text-base);
	}
	
	.main-color, a{
		color: var(--text-main);
	}
		.main-color:visited, a:visited{
			color: var(--text-main);
		}
	
	.contrast-color{
		color: var(--text-contrast);
	}
	
/*Font types*/
	.title, h1, h2, h3, h4, h5, h6{
		font-family: "Title";
		font-variant: small-caps;
	}
	
	.body{
		font-family: "Body";
	}
	
	.links, a{
		font-family: "Body";
		text-decoration: none
	}
		.links:hover, a:hover{
			text-decoration: underline;
		}

/*Font size*/

	.size0{
		margin-top: 0.1%;
		font-size: 200%;
		margin-bottom: 0.5%;
		text-transform: uppercase;
	}
	
	.size1, h1{
		font-size: 34px;
	}
	
	.size2, h2{
		font-size: 25px;
	}
	
	.size3, h3, h4, h5{
		font-size: 20px;
	}
	
	.size4, section{
		font-size: 17px;
	}
	
	.size5{
		font-size: 12px;
	}
	
/*Text Align*/
	.right{
		text-align: right;
	}
	
	.left{
		text-align: left
	}
	
	.center{
		text-align: center;
	}
	
	.justify{
		text-align: justify;
	}
	
/*Image Align*/
	img.right{
		margin-right: 0px;
	}
	
	img.left{
		margin-left: 0px;
	}
	
	img.center{
		margin-right: auto;
		margin-left: auto;
	}

	img.justify{
		margin-left: 0px;
	}

/*Elementos especiales*/
	.inline-text{
		overflow: auto;
	}
		.inline-text img{
			float: inline-start;
			margin-right: 50px;
		}
		.inline-text p{
		}

	.codebox {
		text-align: left;
		height: 300px;
		width: 500px;
		border: 0px !important; 
		background-color: var(--base-dark);
		border-left: 3px var(--contrast) solid !important;
		margin: auto;
	    padding:15px !important;
		overflow:auto;
	}
		.codebox code{
			font-size:0.9em;
			font-family: monospace;
		}
		
	/*G R E E D ZONE^2*/
	.blog-grid{
		display: grid;
		grid-template-columns: 0.2fr 1fr 0.4fr;
	}
		.blog-grid hr{
			margin-top: 90px;
			margin-bottom: -55px;
		}
		.blog-grid h2{
			display: inline-block;
			padding: 0 20px;
			background: var(--base);
		}
		.blog-grid img{
			width: 500px;
		}

	/*THE G R E E D ZONE*/
	.project-grid{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-column-gap: 50px;
	}
		.project-grid h1{
			grid-column-start: 1;
			grid-column-end: 4;
		}
		.project-grid h2{
			height: 40px;
		}
		.project-grid a{
			display: inline list-item;
			margin-right: 25px;
		}
		.project-grid img{
			width: 400px;
			height: 181px;
			margin: 0 auto;
		}
	
	.list{
		display: inline list-item;
	}
/*Webkit zone*/
	/*Scrollbar*/
	::-webkit-scrollbar{ /*Todo el bloque*/
		width: 10px;
		height: 10px;
	}
	
	::-webkit-scrollbar-track-piece{ /*Fondo*/
		background: var(--buttons-border);
		transition: all 0.5s;
	}
	
	::-webkit-scrollbar-thumb{	/*Barra*/
		background: var(--main);
		border-radius: 1px;
	}
	
	::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{ /*Botones */
		opacity: 0; height: 0; width: 0;
	}
	
	
/*sorry*/
pre.prettyprint { display: block; background-color: var(--base-dark)}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #F92672 ; font-weight: bold }
pre .com { color: var(--text-base-dark) } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #AE81FF } /* literal - darkred */
pre .pun { color: #F92672 }    /* punctuation */
pre .pln { color: #66D9EF }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: var(--text-base)} /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 {background: inherit !important}

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}